<!DOCTYPE html>
<html>
 
<head>
    <title>Simple web page Template</title>
    <link rel="stylesheet" href="/needyHomeStyle.css">
    <script>
        function date(){
            const date = new Date();
            const time = date.toLocaleTimeString();
            document.getElementById("date").innerHTML=time;
        }
        setInterval(date,1000);
        document.addEventListener("DOMContentLoaded",date);
    </script>
    <style>
        form {
            padding: 20px;
        }
        form input {
            font-size: 13px;
            margin-bottom: 17px;
        }
        form select {
            font-size: 12px;
            margin-bottom: 17px;
	    
        }
        body{
    background-position: 0px -100px;
    background: url('../assets/images/image4.jpg') center/cover no-repeat;
    background-color: rgba(0, 0, 0, 0.5); /* Background overlay */
}
    </style>
</head>
 
<body>
    <nav class="navbar background">
        <div class="logo">
            <img src= "../assets/images/Helping hands logo.png"
                 style="height: 50px;"
                 alt="Logo">
        </div>
        <ul class="nav-list">
            <li><a href="/needyHome"><u>Donations</u></a></li>
	    <li><a href="/createPost">Post Need</a></li>
	    <li><a href="/managePostNeedy">Manage Post</a></li>
        </ul>
        <div class="rightnav">
            <p style="color: #fff;">{{user}}</p>
            <p style="color: #fff;">Balance: {{balance | dollarPipe}}</p>
            <button class="btn btn-sm" (click) = "logout()" appHighlight>Logout</button>
        </div>
    </nav>
        <div class="left-bar" style="width: 20%; height: 700px; float:left;background-position: 0px -100px; background:#03124F;opacity:0.8;"> 
        <form method="get" name="f1"> 
		<div>
		<input type="text" placeholder="Post Name">
		<button style="background-color: #03124F; color: #fff;">search</button>
		</div>

        </form>
        </div>  
        <div style="width: 15%; height: 700px; float:right;background-position: 0px -100px; background:#03124F;opacity:0.8;">  
            
        </div>  
        <div style="background: #fff; ;">
            <form style="background: #fff;" #form="ngForm">
    
            <div *ngFor="let post of needys">
              <!--<img [src]="game.imageUrl" alt="Game Image">-->
              <div>
                <p style="font-size: 20px; color: green;">Post: {{post.pname}} &nbsp;Donor: {{post.email}} &nbsp;Amount: {{post.amount}} </p>
                <hr/>
              </div>
            </div>
        </form>
        {{msg1}}
        </div>

</body>
 
</html>
