<!DOCTYPE html>
<html>
 
<head>
    <title>Simple web page Template</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        html{
    background: url('../assets/images/wallpaperflare.com_wallpaper%20(2).jpg') center/cover no-repeat;
    background-color: rgba(0, 0, 0, 0.5); /* Background overlay */
    background-position: 0px -100px;
}
    </style>
</head>
 
<body>
    <nav class="navbar background">
        <div class="logo">
            <img src= "../assets/images/Helping hands logo.png"
                 style="height: 50px;"
                 alt="Logo">
        </div>
        <ul class="nav-list">
            <li><a href="/home">Helping Hands</a></li>
	    <li><a href="/aboutUs">About Us</a></li>
        </ul>
        <div class="rightnav">
            <button class="btn btn-sm" onclick = "window.location.href='/login';"
 >Sign In</button>
	    <button class="btn btn-sm"  onclick = "window.location.href='/register';"
 >Sign Up</button>
        </div>
    </nav>
    <div>
        <br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

</body>
 
</html>

